<template>
  <div id="myModal">
    <div dir="ltr" class="modal" :class="{ 'is-active': showModal }" v-if="selectedId != null">
      <div class="modal-background" @click="$emit('clearId')"></div>
      <div class="modal-card">
        <header class="modal-card-head has-text-centered">
          <p class="modal-card-title">פרטי שדרה</p>
          <button class="delete" aria-label="close" @click="$emit('clearId')"></button>
        </header>
        <section class="modal-card-body hes-text-right" dir="rtl">
          <p v-for="prop in convoyProp" :key="prop.realName">
            <span>
              {{ prop.displayName + ": " + selectedConvoy[prop.realName] }}
            </span>
          </p>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-danger" @click="$emit('motion')">
            דווח על יציאה
          </button>
          <button class="button is-primary" @click="$emit('arrived')">
            דווח על הגעה
          </button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Modal",
  props: [
      "showModal",
      ],
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(['convoyProp', 'selectedConvoy', 'selectedId']),
  },
};
</script>
<style scoped></style>
