<template>
  <div id="mySerch">
    <div class="control field">
      <input
        class="input is-rounded is-primary"
        type="text"
        v-model="textToSerch"
        @keyup="$emit('serch', textToSerch)"
        placeholder="פה מחפשים"
        id="input"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Serch",
  data() {
    return {
      textToSerch: "",
    };
  },
};
</script>
<style scoped>
#input {
  font-weight: bold;
  color: #000000;
  margin-top: 1vw;
}
</style>
