<template>
  <div id="myTable">
    <section id="table">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <table class="table is-bordered">
            <thead>
              <tr>
                <th
                  v-for="brief in convoyBrief"
                  :key="brief.realName"
                  @click="selectRowToSort(brief.realName)"
                >
                  {{ brief.displayName }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="convoy in sortdata"
                :key="convoy.id"
                @click="$emit('selectId', convoy.id)"
              >
                <td
                  v-for="(currBrief, index) in convoyBrief"
                  :key="index"
                  v-bind:class="{
                    'on-arrived': convoy.isArrived,
                    'on-motion': convoy.inMotion,
                  }"
                >
                  {{ convoy[currBrief.realName] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Table",
  props: ["textToSerch"],
  data() {
    return {
      isRevers: false,
      sortByRowName: "",
      showModal: false,
      isDataFixed: false,
    };
  },
  methods: {
    sortByRow(RowName) {
      if (this.isRevers) {
        return this.convoies.sort((c, n) =>
          n[RowName] > c[RowName] ? 1 : -1
        );
      } else {
        return this.convoies.sort((c, n) =>
          c[RowName] > n[RowName] ? 1 : -1
        );
      }
    },
    selectRowToSort(rowName) {
      this.sortByRowName = rowName;
      this.isRevers = !this.isRevers;
    },
    sortById() {
      return this.convoies.sort((curr, next) => curr.id - next.id);
    },
  },
  computed: {
    ...mapGetters(["convoies", "convoyBrief"]),
    sortdata() {
      if (this.textToSerch) {
        return this.convoies.filter((curr) => {
          if (
            curr.id === this.textToSerch ||
            curr.missionType.includes(this.textToSerch) ||
            curr.startDate.includes(this.textToSerch) ||
            curr.finishDate.includes(this.textToSerch) ||
            curr.cargoName.includes(this.textToSerch) ||
            curr.commander.includes(this.textToSerch)
          ) {
            return curr;
          }
        });
      }

      if (this.sortByRowName) {
        return this.sortByRow(this.sortByRowName);
      }

      return this.sortById();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.on-arrived {
  background-color: #7cfc00;
}
.on-motion {
  background-color: #f83b3b;
}
#table {
  margin-top: 3vw;
}
</style>
