<template>
  <div id="myTitel">
        <h2 id="titel" class="label has-text-centered">{{ titel }}</h2>
  </div>
</template>

<script>
export default {
  name: 'Titel',
  data() {
    return {
      titelText: 'פרויקט שלג',
    }
  },
  computed: {
    titel() {
        return this.titelText;
    }
  },
}
</script>
<style scoped>
#titel {
  color: #FF0000;
  -webkit-text-stroke:  0.3vw #3BE744;
  font-size: 60px;
}
</style>
