<template>
  <nav id="nav" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <img src="@/assets/logo.png" width="30" title="רענון נתונים"/>
      </a>
    </div>

    <div class="navbar-menu container">
      <div class="navbar-start">
        <router-link to="/" exact class="navbar-item"><strong>Home</strong></router-link>
        <router-link to="/map" class="navbar-item"><strong>Map</strong></router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style scoped>
.router-link-active { 
  color: #FF0000 !important;
  background-color: #FFFFFF;
}

#nav {
  background-color: #FFFFFF70;
  font-size: 20px;
}
</style>
