<template>
  <div id="app">
    <navBar />
    <router-view></router-view>
  </div>
</template>

<script>
import navBar from "./components/navBar.vue";

export default {
  name: "App",
  components: {
    navBar,
  },
};
</script>
<style>
#app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url("./assets/1.jpg");
  /* background-color: black; */
}
</style>
