<template>
  <div id="home" class="container column is-half">
    <div v-if="isLoading">
      <div class="loader-wrapper">
        <span class="title">רק רגע אנחנו טוענים נתונים</span>
        <PulseLoader />
      </div>
    </div>
    <div v-else>
      <mytitel />
      <mtSerch v-on:serch="serch" />
      <myTable v-bind:textToSerch="textToSerch" v-on:selectId="selectId" />
      <myModal
        v-bind:showModal="showModal"
        v-on:clearId="clearId"
        v-on:motion="motion"
        v-on:arrived="arrived"
      />
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import db from "@/db/server.js";
import myTable from "@/components/myTable.vue";
import mytitel from "@/components/myTitel.vue";
import mtSerch from "@/components/mySerch.vue";
import myModal from "@/components/myModal.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    PulseLoader,
    myTable: myTable,
    mytitel: mytitel,
    mtSerch: mtSerch,
    myModal: myModal,
  },
  data() {
    return {
      isLoading: true,
      textToSerch: "",
      showModal: false,
    };
  },
  computed: {
    ...mapGetters(["selectedConvoyId", "convoyBrief"]),
  },
  methods: {
    ...mapActions([
      "updateConvoies",
      "updateConvoyBrief",
      "updateConvoyProp",
      "updateSelectedId",
      "updateStatus",
    ]),
    fixedDatesConvoies(convoies) {
      return convoies.map((convoy) => {
        convoy.startDate = new Date(parseInt(convoy.startDate)).toLocaleString(
          "he-IL"
        );
        convoy.finishDate = new Date(
          parseInt(convoy.finishDate)
        ).toLocaleString("he-IL");
        return convoy;
      });
    },
    serch(text) {
      this.textToSerch = text;
    },
    arrived() {
      const status = { isArrived: true, inMotion: false };
      this.updateStatus(status);
      db.updateStatus(this.selectedConvoyId, status);
      this.clearId();
    },
    motion() {
      const status = { isArrived: false, inMotion: true };
      this.updateStatus(status);
      db.updateStatus(this.selectedConvoyId, status);
      this.clearId();
    },
    clearId() {
      this.showModal = false;
      this.updateSelectedId(null);
    },
    selectId(id) {
      this.showModal = true;
      this.updateSelectedId(id);
    },
  },
  async created() {
    try {
      if (this.convoyBrief == null) {
        this.updateConvoies(this.fixedDatesConvoies(await db.allCon()));
        this.updateConvoyBrief(await db.allBrief());
        this.updateConvoyProp(await db.allProp());
      }
    } catch (err) {
      alert("מצטערים החיבור לשרת כשל");
    }
    this.isLoading = false;
  },
};
</script>
<style>
#app {
  direction: rtl;
}
</style>
