<template>
  <div id="map-view">
    <img id="img"
      src="https://www.mapi.gov.il/ProductCatalog/Documents/papermap250000/250k_heb.jpg"
      height="650"
      width="650"
    />
  </div>
</template>

<script>
export default {
  name: "map-view",
};
</script>
<style scoped>
#map-view {
	display: flex;
	justify-content: center;
	margin-top: 2vw;
}
#img {
  border: 5px solid #555;
}
</style>